<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="VacantSymbol" value="." />
      <add key="Player1Symbol" value="X" />
      <add key="Player2Symbol" value="O" />
      <add key="BoardScale" value="3" />
    </appSettings>
</configuration>